/* Nhóm định dạng cho thẻ article */
article {
    margin: 20px 0px;
}

/* Nhóm định dạng cho nội dung chính của bài viết */
.art-content {
    display: block;
    margin: 10px 20%;
    text-align: justify;
}

/* Nhóm định dạng cho các thành phần trong .art-content */
.art-content h1 {
    color: red;
    font-size: 50px;
    margin-bottom: 30px;
}
.art-content img {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}
.art-content p {
    font-size: 20px;
    margin-top: 20px;
}
.art-content i {
    font-size: 20px;
    color: blue;
    display: block;
    text-align: center;
    width: 100%;
}