.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif; 
}

.footer-left {
    display: block;
    width: fit-content;
    margin: 0 150px;
}
.head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.footer h2 {
    font-size: 18px;
    font-weight: bold;
}

.footer-content {
    display: block;
    text-align: left;
    gap: 10px;
}

.footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}