:root{
    --main_color: rgb(0, 132, 255);
}
.homepage-content .hot-article{
    margin:20px 20px;
}
.homepage-content .hot-article img{
    width: auto;
}
.img-banner-h {
    display: block;
    margin: 0px auto;
    width: 50%;
    background-size: cover;
}
.img-banner-h img{

    margin-bottom: 10px;

}
.homepage-content .hot-article:hover{
    color: red;
}
.homepage.homepage-container{
    margin: 20px 15%;
    border-left: 1px solid rgba(0, 0, 0, 0.432);
    border-right: 1px solid  rgba(0, 0, 0, 0.432);
}
.homepage .container__content{
    padding: 0px 20px;
}.homepage .container__content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 100px 100px 100px;
    column-gap: 20px;
}
.homepage-content.thoi-su{
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 10px;
}
.homepage-content.du-lich{
    grid-column-start: 1;
    grid-column-end: 3;
}
.homepage-content .type-title{
    color: var(--main_color);
}
.homepage-content hr{
    height: 5px;
    background-color: var(--main_color);
    border: none;
}
.homepage-content i{
    color: var(--main_color);
    float: left;
    font-size: 30px;
    margin-right: 10px;
}