:root{
    --main_color: rgb(0, 132, 255);
}
.homepage.homepage-container{
    padding: 10px 10%;
}
.homepage .container__content{
    padding: 0px 20px;
}.homepage .container__content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px 250px 250px;
    column-gap: 10px;
}
.homepage-content.thoi-su{
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 10px;
}
.homepage-content.du-lich{
    grid-column-start: 1;
    grid-column-end: 3;
}
.homepage-content h1{
    color: var(--main_color);
}
.homepage-content hr{
    height: 5px;
    background-color: var(--main_color);
    border: none;
}
.homepage-content i{
    color: var(--main_color);
    float: left;
    font-size: 30px;
    margin-right: 10px;
}