/* Nhóm định dạng responsive cho các kích thước màn hình */

@media (width <= 1500px) {
    .hot-article h3 {
        font-size: 20px;
    }
    .article-news h3 {
        font-size: 17px;
    }
}
@media (width <= 1600px) {
    .main-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100%;
    }

    .container-left {
        display: none;
    }
    .container-right {
        margin-right: 5px;
    }
}
@media (width <= 1300px) {
    .container-right {
        display: none;
    }
    .main-container {
        display: block;
    }
}
@media (width <= 1000px) {
    .homepage .container__content {
        display: block;
    }
    .homepage-row-1 {
        display: block;
    }
    .hot-article-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hot-article > * {
        display: inline-block;
        width: 100%;
    }
    .current-news-container {
        height: 300px;
    }
    .homepage-content.hot-news {
    }
    .homepage-content.current-news {
    }
    .homepage-row-3 {
        display: block;
    }
    .btn.slide-left {
        display: none;
    }
    .btn.slide-right {
        display: none;
    }
}
