*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main_color: rgb(0, 132, 255);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.search-bar{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid black;
}

.search-bar input[type="text"]{
    width: 100%;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 25px;
    background: transparent;
    margin-right: 10px;
}

.search-bar input[type="text"]::placeholder{
    color: #000000;
    opacity: 0.5;
    transition: color 0.3s ease;
}


.fa-solid.fa-magnifying-glass{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 0px;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to right, rgb(145, 220, 255), var(--main_color) );
    padding: 20px;
}